<div class="main">
  <div class="row">
    <p class="main-title">プロフィールの編集</p>
    <%= form_for(@user, :url => {:action => :update, :controller => :user}) do |f| %>
      <div class="edit">
        <div class="left box">
          <p>新規ユーザー名</p>
          <div class="input-field inputtag">
            <%= f.text_field :user_name %>
          </div>
        </div>
        <div class="right box">
          <p>新規自己紹介文</p>
          <div class="input-field inputtag">
            <%= f.text_area :introduction %>
          </div>
        </div>
      </div>

      <p>前のプロフィール画像</p>
      <img src='<%= "/user_images/#{@user.image_name}" %>' style="width:25%;">
      <p>新しいプロフィール画像</p>
      <input type="file" name="image_name" class="btn waves-effect waves-light left">

      <!--　更新するときのボタン -->
      <input type="submit" value="更新" class="btn waves-effect waves-light left">
    <% end %>
  </div>
</div>