<div class="main">
  <div class="row input-field">
    <h4>新しいパスワード</h4>
    <%= form_tag("/user/updatepw", {method: :post}) do %>
      <input type="password" name="password" class="password" style="margin-left: 30%;">
      </div>
      <div style="text-align: center">
        <input type="submit" value="更新" class="btn waves-effect waves-light"></div>
    <% end %>
</div>