<h3>設定変更</h3>
<p>プロフィールの変更</p>
<%= form_tag("/main/edit") do %>
  <input type="submit" value="変更">
<% end %>
<p>ログイン中のアカウントの退会</p>
<%= form_tag("/user/destroy",{method: :post}) do %>
  <input type="submit" value="退会" >
<% end %>