<h3 style="text-align: center">現在の種類一覧</h3>
<div class="main">
  <div class="row">
    <table>
      <tr>
        <th>番号</th>
        <th>種類名</th>
        <th>削除</th>
      </tr>
      <% n = 1 %>
      <% @modes.each do |mode| %>
        <tr>
          <td><%= n %></td>
          <td><%= mode.detail %></td>
          <td><%= link_to("/mode/#{mode.id}/destroy", {method: :post}) do %>
              <div class="btn waves-effect waves-light">削除</div>
              <% end %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to("/mode/editmode") do %>
      <input type="submit" value="種類の追加" class="btn waves-effect waves-light left">
    <% end %>
  </div>
</div>
