<h3>ログインページ</h3>
<%= form_tag("/user/login") do %>
  <p>ユーザー名</p>
  <input name="name">
  <p>パスワード</p>
  <input name="password" type="password">
  <input type="submit" value="ログイン">
<% end %>





<!-- デバック -->
<% @users.each do |user| %>
  <p>名前</p>
  <%= user.user_name %>
  <p>パスワード</p>
  <%= user.password %>
<% end %>