<h3>こちらは新規登録のページです</h3>

<%= form_tag("/user/create") do %>
  <p>ユーザー名</p>
  <input name="name">
  <p>パスワード</p>
  <input name="password" type="password">
  <input type="submit" value="新規登録">
<% end %>