<div class="all">
  <div class="head teal-text darken-1">
    <h3 class="orange-text" style="margin:0px">冷蔵情報庫</h3>
    <div class="main-block orange-text">
      <h6>冷蔵庫とモバイル機器を繋ぐ新しいWebアプリ</h6>
      <% if session[:user_id] == nil %>
        <p>登録されていない方はこちら</p>
        <%= link_to("/home/new") do %>
          <div class="btn waves-effect waves-light">
            新規登録
          </div>
        <% end %>
        <p>すでに登録をされているはこちら</p>
        <%= link_to("/home/login") do %>
          <div class="btn waves-effect waves-light">
            ログイン
          </div>
        <% end %>
      <% else %>
        <p>食材一覧ページはこちら</p>
        <%= link_to("/food/index") do %>
          <div class="btn waves-effect waves-light">
            食材一覧
          </div>
        <% end %>
        <p>詳細な検索を行うならこちら</p>
        <%= link_to("/sort/main") do %>
          <div class="btn waves-effect waves-light">
            詳細な検索
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="main">
    <div class="row">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>

      <div class="top-box" style="padding-top: 50px;">
        <div class="card" style="height: 400px;">
          <div class="card-title">
            <h4 style="padding-top: 30px;">冷蔵情報庫が出来ること</h4>
          </div>
          <div class="card-content" style="text-align: center;">
            <h6>冷蔵情報庫は人々の日常の買い物という場面で大きな効果を発揮します.</h6>
          </div>
          <div class="card-tabs" style="height: 100px;">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a href="#test4">Case 1</a></li>
              <li class="tab"><a class="active" href="#test5">Case 2</a></li>
              <li class="tab"><a href="#test6">Case 3</a></li>
            </ul>
          </div>
          <div class="card-content">
            <div id="test4">
              <div class="card-image left" style="width: 25%;">
                <img src="http://reizouko-club.com/wp-content/uploads/2014/04/reizouko.png" style="width: 35%;">
              </div>
              <div style="float: right;">
                <p>わざわざ冷蔵庫を開けなくても中身が分かるようになります。</p>
                <p>お買い物の準備時間を大幅に減らすことが可能になります。</p>
              </div>
            </div>
            <div id="test5">
              <div class="card-image left" style="width: 25%;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7ydaHy1QLw_MtcWBQF2jJcJFcupcUZRrX1OuwAXeqqwz77jQPRA" style="width: 35%;">
              </div>
              <div style="float: right;">
                <p>モバイル機器を使えば、</p>
                <p>いつでも・どこでも冷蔵庫の情報を確認することが出来ます。</p>
                <p>お買い物のたびにメモを用意する必要がなくなります。</p>
              </div>
            </div>
            <div id="test6">
              <div class="card-image left" style="width: 25%;">
                <img src="https://4.bp.blogspot.com/-j5G2o6WeN_g/WGHWMUOhG_I/AAAAAAABAso/2fxSZeuQ2Pwc86rMb7790vIipe2u6YAQgCLcB/s800/text_syouhikigen.png" style="width: 100%;">
              </div>
              <div style="float: right;">
                <p>冷蔵庫の食品の期限を確認することが出来ます。</p>
                <p>期限が切れそうなものが多い時は、</p>
                <p>余計なお買い物をしなくても済むようになります。</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="progress" style="margin: 30px 0px;">
        <div class="indeterminate"></div>
      </div>

      <div class="top-box">
        <h3 class="header">冷蔵情報庫を構成する言語について</h3>
        <div class="card horizontal" style="height: 250px;">
          <div class="card-image" style="padding: 0;">
            <img src="https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/15793/d96c5b5abb01c40628494c3b114eec67_d3dfa85c177a9aa67416afff9a6bb621.png" style="width: 50%;">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h6>冷蔵情報庫はRuby on Rail5で構成されています。</h6>
              <h6>他にも様々な言語が用いられています。</h6>
              <h6>フロントエンドは、HTML・CSS・JavaScript</h6>
              <h6>サーバーサイドは、Ruby・Ruby on Rails5</h6><br>
              <h6>Ruby on Rails5の公式サイトはこちら</h6>
            </div>
            <div class="card-action">
              <a href="https://rubyonrails.org/">公式サイト</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>

