@import "materialize/components/color";
@import "materialize";

* {
}

.user_data, .flash {
  z-index: 10;
}

.succsess{
  @extend .green, .accent-3;
  background-color: #00e676 green accent-3;
  text-align: center;
}

.failed{
  @extend .red, .lighten-1;
  background-color: #ef5350 red lighten-1;
    text-align: center;
}

body {
  @extend .light-blue, .lighten-5;
  background-color: #81d4fa light-blue lighten-5;
}

.nav-wrapper{
  margin:0px 20px;
}

.head {
  width: 100%;
  background-image: url("http://www.pc-daiwabo.co.jp/kanri/image.php?file=category_corp.1.png");
  background-size: cover;
  h3 {
    text-align: center;
    font-weight: bold;
    line-height: 60px;
  }
}

.main {
  width: 90%;
  @extend .light-blue, .lighten-3;
  margin: 0 auto;
  background-color: #81d4fa light-blue lighten-3;

  .card-content {
    font-size: 20px;
  }

  .row {
    width: 95%;
    padding: 20px 0px;

    h4{
      text-align: center;
      color:salmon;
    }

    .card {
      margin: 10px 64px;
      height: 600px;
    }

    .image {
      display: inline-block;
      height: 500px;
      img {
        height: 90%;
      }
    }

    .about {
      padding-left: 50px;
    }

    .web {
      padding-left: 70px;
    }

  }

}
