@import "materialize/components/color";
@import "materialize";

* {
}

.user_data, .flash {
  z-index: 10;
}

.succsess {
  @extend .green, .accent-3;
  background-color: #00e676 green accent-3;
  text-align: center;
}

.failed {
  @extend .red, .lighten-1;
  background-color: #ef5350 red lighten-1;
  text-align: center;
}

header {
  background-image: url("http://img.kb-cdn.com/imgviewer/NVpIM2ptOHhYRzVmUk5rM1NrNlFxYVV6enV4aGk2UFRJMmxPckdDUUVNYjE2cFF2THMwNmJucFNERmxtRk5yZzNYQmt6NHBwVUVzUGk4RzlYbm92Y3RNUytQUkc0QkRpMDRlWEEvSENabjhZR0FsZXRnM0RUK2NjbWRIR0JCTDhsa0lkcktzVjZYaElhSi9EcG9HUHAvMjQyd1hBOHJOdmRMcVZleXFxMjEybkdXdFpZQlhYeXpUK3FDQ2ExeTFEdmtLa3VFNTR3NkU3N2xIWC9qeEc3QT09?square=0");
  background-size: cover;
  p {
    font-size: 40px;
    text-align: center;
    margin: 0;
  }
}

body {
  @extend .light-blue, .lighten-5;
  background-color: #81d4fa light-blue lighten-5;
}

.btn {
  display: inline-block;
}

.nav-wrapper {
  margin: 0px 20px;
}

.head {
  width: 100%;
  background-image: url("http://www.pc-daiwabo.co.jp/kanri/image.php?file=category_corp.1.png");
  background-size: cover;
  h3 {
    text-align: center;
    font-weight: bold;
    line-height: 60px;
  }
}

.main {
  width: 90%;
  @extend .light-blue, .lighten-3;
  margin: 0 auto;
  background-color: #81d4fa light-blue lighten-3;

  #index, #oldFood {
    border-color: black;
    border-collapse: collapse;
    border-color: black;
  }
  #index {
    @extend .light-blue, .lighten-5;
    background-color: #81d4fa light-blue lighten-5;

    th {
      padding: 0.5em;
      width: 13%;
      text-align: center;
      border: solid 1px;
    }

    td {
      padding: 0.5em;
      width: 13%;
      border: solid 1px;
      img {
        width: 100%;
      }
    }
  }
  #oldFood {
    th {
      padding: 0.5em;
      width: 17%;
      text-align: center;
      border: solid 1px;
    }
    td {
      padding: 0.5em;
      width: 17%;
      border: solid 1px;
      img {
        width: 100%;
      }

    }

  }

  .card-content {
    font-size: 20px;
  }

  h3{
    width: 100%;
    padding: 10px;
    margin:0px;
    text-align: center;
    font-size: 30px;
  }

  .row {
    width: 95%;

    h4 {
      text-align: center;
      color: salmon;
    }

    p {
      margin: 0;
    }

    .card {
      margin: 10px 64px;
      height: 600px;
    }

    .image {
      display: inline-block;
      height: 500px;
      img {
        height: 90%;
      }
    }

    .about {
      padding-left: 50px;
    }

    .web {
      padding-left: 70px;
    }

    .profile {
      p {
        font-size: 20px;
        margin: 0;
      }
      span {
        font-size: 30px;
        margin: 0;
      }
      .parcent {
        width: 20%;
      }
    }

    .main-title {
      font-size: 30px;
      margin: 0px;
      text-align: center;

    }

    .edit {
      width: 100%;
      height: 150px;
      .box {
        width: 50%;
        margin: 0 auto;

      }
    }
    .inputtag {
      width: 80%;
      margin: 0 auto;
    }
  }

}

.tag {
  width: 50%;
}
