<%= form_for(@conect_food_to_mode, :url => {:action => :conectmode, :controller => :mode}) do |f| %>
  <div class="main">
    <div class="row color">
      <table>
        <tr>
          <th>種類名</th>
          <th>選択</th>
        </tr>

        <% @modes.each do |mode| %>
          <tr>
            <td><%= mode.detail %></td>
            <td><%= f.select(:food_id, @test, {}, {:multiple => true, :name => 'food_id[]', :prompt => "選択してください"}) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div style="margin-left: 46%">
      <%= f.submit :class => "btn waves-effect waves-light", :value => "登録" %>
    </div>
  </div>
<% end %>
