<%= form_for(@conect_mode, :url => {:action => :createmode2, :controller => :mode}) do |f| %>
  <h4 style="text-align: center">関係のある食品を選択する</h4>
  <div class="main">
    <div class="row color">
      <table>
        <tr>
          <th>名前</th>
          <th>画像</th>
          <th>選択</th>
        </tr>
        <% @foods.each do |food| %>
          <tr>
            <td style="text-align: center;"> <%= food.name %></td>
            <td style="text-align: center;">
              <% if food.image_name == "https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927"%>
                <img src="https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" style="width:50%;">
              <% else %>
                <img src='<%= "/food#{session[:user_id]}_images/#{food.image_name}" %>' style="width: 50%;">
              <% end %></td>
            <td>チェックボックスの追加
              <%= f.select(:food_id, @test) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <input type="submit" value="追加" class="btn waves-effect waves-light" style="margin-left:45%">
  </div>
<% end %>
